
p {													/* BODY, TEKSTIT, LINKIT*/
	color: #656565;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}
hr {
	border: 0.5px solid #ef2f2f;
	width: 90%;
}
h6, #otsikko{
	color: #ef2f2f;
	font-size: 200%;
	font-family: 'Ubuntu', sans-serif;
}

h5 {
	color: white;
	font-size: 200%;
	font-family: 'Ubuntu', sans-serif;
}

h4 {
	color: #ef2f2f;
	font-size: 19px;
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: #D1256E;
	text-decoration: underline;
}
a:hover {
	color: black;
}
#lista {
 	color: #656565;
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
}
#leipateksti {
	color: #D1256E;
	font-weight: bold;
}
#succesfull {
	font-size: 17px;
	color: green;
}

#logo {
	width: 60px;
	height: 40px;
}
.img {
	max-width: 100%;
	max-height: 100%;
}
#restapoints {
	color: #FFFFFF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	padding-top: 9px;
	padding-left: 45px;
}

#qrcode, #offer {
	max-width: 100%;
	max-height: 100%;
	border: 4px solid black;
	border-radius: 7px;
}
.borderless td, .borderless th, .borderless tr  {
	border: none !important;
	
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding: 1px;
	font-family: 'Ubuntu', sans-serif;
}

#tableheader {
	color: #ef2f2f;
	font-family: 'Ubuntu', sans-serif;
}

#returnbutton {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #ef2f2f;
	border: 1px solid #ef2f2f;
	margin-bottom: 7px;
}


/*-------------------------------------------------------------------------------*/

.bg-1 {  									        /* CONTAINERIT JA CARDIT */
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	padding: 3%;
}
.bg-2 {
	background-color: white;
	margin-top: 4px;
}
.bg-3 {
	background-color: #ef2f2f;
	margin: 0px;
	padding: 3px;
}
.bg-4 {
	background-color: white;
	margin: 0px;
	padding: 0px;
}
.card {
	border: 1px solid #bfbfbf;
	padding: 5%;
	margin: 3%;
}
.modalcard {
	padding: 5%;
	margin: 0%;
}

/*-------------------------------------------------------------------------------*/

.bg-5 {  									                /* FOOTER */
    background-color: #ef2f2f;
	padding-top: 3%;
    padding-bottom: 2%;
}
#footerteksti {
	color: white;
}

/*-------------------------------------------------------------------------------*/

.navbar {  									        		/* MENUBAR */
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
	font-family: Century Gothic;
    font-size: 17px;
    /*letter-spacing: 5px;*/
	margin-left: 0%;
	margin-right: 0%;
}
.navbar-custom {
    color: #ef2f2f;
    background-color: #ef2f2f;
}
.navbar-nav li a:hover {
    color: black !important;
}
.navbar-nav li a {
    color: #FFFFFF!important;
}
#mblinkki {
	text-decoration: none;
}
.navbar-brand {
	padding: 1%;
}
/*#navbarbutton {
	color: #ef2f2f;
}
#navbarbutton:visited, #navbarbutton:active, #navbarbutton:hover, #navbarbutton:focused {
	color: #ef2f2f;
}*/

/*-------------------------------------------------------------------------------*/

																/* KARTAT */

#map{
	margin-left:auto; 
	margin-right:auto;
	height: 530px;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

 
												/*SLOT*/
/*body {
	font-family:verdana,arial;
	padding:20px;
}*/
.bd {
	text-align:center;
}
/*.container {
	margin:0 auto;
	width:266px;
}*/
.slot-wrapper {
	 border: 1px solid #000000;
	 margin:0 auto;
	 width:230px;
}
.slot {
	background:url("imgs/reel_normal.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
	width:76px;
	height:70px;
	float:left;
	border:1px solid #000;
	background-position:0 4px;
}
.motion {
	background:url("imgs/reel_blur.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
}
#control {
	display:block;
	width:138px;
	height:33px;
	margin:20px 60px;
	font-size:16px;
	cursor:pointer;
	margin: 20px auto;
}
#result {
	margin:20px 0;
	font-size:18px;
	font-weight:bold;
	height:22px;
}
.credits {
	font-size:15px;
	margin-top:20px;
}
.credits .browsers {
	font-style:italic;
	font-size:14px;
	color:#777;
	margin-top:4px;
}
.clear {
	clear:both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.ui-dialog.slot-dialog {
	background: #DCDCDC;
	border: 2px solid #280000;
    border-radius: 0 0 8px 8px;
	padding: 10px;
    border-width: 8px 8px 8px 8px;	
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
.slot-dialog .ui-dialog-titlebar{
background:red;
font-size:24px;
}



